aiodns==1.1.1
aiohttp==3.0.1
async-timeout==2.0.0
asyncio==3.4.3
attrs==17.4.0
cchardet==2.1.1
ccxt==1.10.1094
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
idna==2.6
idna-ssl==1.0.0
multidict==4.1.0
networkx==2.1
pycares==2.3.0
requests==2.18.4
urllib3==1.22
yarl==1.1.0
